body{
    margin: 0;
    
}
.container{
    max-width: 100%
}

.login{
    background-color: #FAFAFA;
    height: 100vh; 
    }

.oj{
    background-color:#313F52;
    height: 100vh;
}

.field{
    width: 80%;
  padding: 12px 20px;
  margin-top: 40px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #F5F5F5;
  margin-left: 50px;
    
}

.button{
    width:80%;
    height: 70px;
    display: flex;
    margin-left: 50px;
    margin-top: 50px;
    ;
}

.row1{
    /* background-color: yellow; */
    height: 92.8vh; 
    /* padding: 40px; */
   
}

.row2{
    /* background-color: red; */
    height: 92.8vh; 
}

.row3{
    /* background-color: blueviolet; */
    height: 92.8vh; 
}

.chart{
    display: "flex";
    width: "20%";
    background-color: white;
    margin-top: 40px;
    display:"flex";
    flex: 5
   
}


.chartRow1{
    height: 100vh;
    background-color: #F4F4F4;
}

.invoices{
    display: flex;
    flex-direction: column;
}

.newInvoice{
  display:flex;
 flex-direction: row;
  margin-top:50px;
   border-bottom: 1px solid;
  border-bottom-color: #DEDDDE;
  padding: 10px;

}

.invoicelist1{
   height: 100%;
   width: 40%;
   background-color: cornsilk;
   padding-top: 20px;
}

.company{
  display:flex;
  flex-direction: row;
   margin-top:20px;
    border-bottom: 1px solid;
   border-bottom-color: #DEDDDE;
   padding: 10px;
 
}



/* .pie{
    display: "flex";
    justify-content: center;
    width: "920px";
    height: "920px"; 
    padding-right: 350px;
} */

.calendar {
    box-sizing: border-box;
    font-size: 1rem;
    max-width: 400px;
  }
  
  .calendar .header {
    background-color: var(--light-blue);
    text-align: center;
    min-height: 2rem;
    line-height: 2rem;
    color: var(--black);
    font-family: var(--font-book);
    font-weight: 700;
    display: flex;
  }
  
  .calendar .day-names {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
    align-items: center;
  }
  
  .calendar .body {
    border: 1px solid var(--light-blue);
  }
  
  .calendar .header .previous {
    flex: 1;
    text-align: left;
    margin-left: 1rem;
  }
  
  .calendar .header .next {
    flex: 1;
    text-align: right;
    margin-right: 1rem;
  }
  
  .calendar .week {
    background-color: white;
    width: calc(100% / 7);
    height: 44px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    color: var(--black);
    font-weight: 400;
  }
  .calendar .week div {
    width: 100%;
  }
  
  .calendar .day {
    position: relative;
    width: calc(100% / 7);
    height: 44px;
    display: inline-block;
    background-color: white;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    z-index: 1;
    text-align: center;
  }
  
  .calendar .day div {
    width: 54px;
    height: 44px;
    position: relative;
    color: var(--black);
    z-index: 100;
    line-height: 44px;
  }
  
  .calendar .day div.before {
    color: var(--grey);
  }
  
  .calendar .day div.selected {
    background-color: var(--red);
    color: var(--white);
    font-weight: bold;
  }
  
  .calendar .day div.today {
    background-color: var(--grey);
  }