body{
    margin: 0;
    
}
.container{
    max-width: 100%
}

.login{
    background-color: #FAFAFA;
    height: 100vh; 
    }

.oj{
    background-color:#313F52;
    height: 100vh;
}

.field{
    width: 80%;
  padding: 12px 20px;
  margin-top: 40px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #F5F5F5;
  margin-left: 50px;
    
}

.button{
    width:80%;
    height: 70px;
    display: flex;
    margin-left: 50px;
    margin-top: 50px;
    ;
}

.row1{
    /* background-color: yellow; */
    height: 92.8vh; 
    /* padding: 40px; */
   
}

.row2{
    /* background-color: red; */
    height: 92.8vh; 
}

.row3{
    /* background-color: blueviolet; */
    height: 92.8vh; 
}

.chart{
    display: "flex";
    justify-content: center;
    width: 720px;
    background-color: brown;
   
}


.chartRow1{
    height: 100vh;
    background-color: #F4F4F4;
}

.invoices{
    display: flex;
    flex-direction: column;
}

.pie{
    display: "flex";
    justify-content: center;
    width: 720px;
    padding-left: 750px;
}